<nav>
    <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="http://localhost:3000/index">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://localhost:3000/about">About Me</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://localhost:3000/form">Form</a>
  </li>
    </ul>
</nav>

