<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form Page</title>
</head>
<body>
    <h1>Welcome To My Form Page</h1>
    <p>{{junk}}</p>
    <!--<form action="/results?middle=Gustavo" method="post">  -->
<form action="/results" method="post">
    <input type="text" name="first">
    <input type="text" name="last">
    <input type="submit" >
</form>

    {{>footer}}
</body>
</html>